<div class="sidebar-container">
  <div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="sidebar-header">
      <h2 *ngIf="!isSidebarCollapsed"><em>Carbon Persona</em></h2>
      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <ul class="sidebar-nav">
      <li>
        <a routerLink="/home">
          <i class="fas fa-home"></i><span *ngIf="!isSidebarCollapsed"> Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/about">
          <i class="fas fa-info-circle"></i><span *ngIf="!isSidebarCollapsed"> About</span>
        </a>
      </li>
      <li>
        <a routerLink="/calculate">
          <i class="fas fa-calculator"></i><span *ngIf="!isSidebarCollapsed"> Calculator</span>
        </a>
      </li>
      <li>
        <a routerLink="/airquality">
          <i class="fas fa-wind"></i><span *ngIf="!isSidebarCollapsed"> Air Quality</span>
        </a>
      </li>
      <li *ngIf="role === 'Admin'">
        <a routerLink="/dashboard">
          <i class="fas fa-tachometer-alt"></i><span *ngIf="!isSidebarCollapsed"> Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <i class="fas fa-user"></i><span *ngIf="!isSidebarCollapsed"> Profile</span>
        </a>
      </li>
      <li>
        <a (click)="onLogOut()">
          <i class="fas fa-sign-out-alt"></i><span *ngIf="!isSidebarCollapsed"> Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content" [class.full]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </div>
</div>
